<div id="modal"
  [ngClass]="{
    'fixed z-10 inset-0': true,
    'hidden': !openModal
  }">
  <div
    class="flex items-center justify-center min-h-screen bg-gray-500 bg-opacity-75 transition-opacity"
  >
    <div
      class="flex flex-col items-center justify-between bg-white p-20 rounded w-2/3"
    >
      <h3
        class="text-5xl leading-6 font-medium text-purple-700 tracking-wider uppercase"
        id="modal-title"
      >
        {{event.name}}
      </h3>
      <p class="mt-14 text-xl text-gray-500">
        {{event.description}}
      </p>
      <p class="mt-14 text-xl text-gray-500">
        <span class="font-bold">From:</span>
        {{formateData(event.startDate)}}
        <span class="font-bold">to:</span>
        {{formateData(event.endDate)}}
      </p>
      <button
        id="close-modal-btn"
        type="button"
        class="border border-gray-200 px-10 py-3 mt-10 bg-red-500 hover:bg-red-600 text-white rounded uppercase tracking-wider"
        (click)="emitCloseModal()"
      >
        Close
      </button>
    </div>
  </div>
</div>
